{
  "extends": "@atomix/eslint-config",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "linebreak-style":"off",
    "no-return-await": "off"
  }
}